<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorldDB" connectionString="server=localhost;database=world;uid=root;pwd=rootpwd;"/>
    <add name="SudokuDB" connectionString="server=localhost;database=sudoku;uid=root;pwd=rootpwd;"/>
    <add name="WorldCloudDB" connectionString="server=testingdatabase.cdhpnoazqfmz.us-west-2.rds.amazonaws.com;port=3306;database=aws_rds_world;uid=GamurayAdmin;password='nXMyR8IsAI7PA5OeLEh8';"/>
  </connectionStrings>





</configuration>